server {

    listen 80;

    server_name _;


    # Frontend

    location / {

        root /usr/share/nginx/html;

        index index.html;

        try_files
            $uri
            $uri/
            /index.html;
    }


    # Ticket Service

    location /api/tickets {

        proxy_pass
             ${TICKET_SERVICE_URL}/tickets;

        proxy_set_header
            Host $host;

        proxy_set_header
            X-Real-IP $remote_addr;

        proxy_set_header
            X-Forwarded-For $proxy_add_x_forwarded_for;
    }


    # User Service

    location /api/users {

        proxy_pass
            ${USER_SERVICE_URL}/users;

        proxy_set_header
            Host $host;

        proxy_set_header
            X-Real-IP $remote_addr;

        proxy_set_header
            X-Forwarded-For $proxy_add_x_forwarded_for;
    }

}